:root{
    --color-white: #fff;
    --color-gray: #c4c4c4;
    --color-black: #000;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
}

.resume-text{
    display: inline-block;
    border-bottom: 1px solid #fa8072;
    padding: 5px;
    margin:7% 25% 0 0;
    color: white;
}
.resume-text:hover{
    
    border-radius: 10px;
    /* border: 1px solid rgba(209, 213, 219, 0.3); */
    border: 2px solid white;
    transition: 0.3s ease-in-out ;
}
.strt{
    border-radius: 1rem;
    animation: start 2.5s infinite;
}

@keyframes start {
    
    0%{
        border-top: 4px solid var(--color-purple);
    }
    25%{
        border-right: 4px solid teal;
    }
    50%{
        border-bottom: 4px solid var(--color-light-blue) ;
    }
    100%{
        border-left: 4px solid var(--color-light-purple) ;
    }

}

