.drawer::-webkit-scrollbar{
    
    display: none;
}
.bodybox{
    margin:25% 2% 5% 2% ;
    backdrop-filter: blur(6px) saturate(183%);
    -webkit-backdrop-filter: blur(6px) saturate(183%);
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}


.drawerMenuOne:hover{
    cursor: pointer;
    transform:scale(1.2);
    background-color: aqua;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    
}
.drawerMenuTwo:hover{
    cursor: pointer;
    transform:scale(1.2);
    background-color: gold;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.drawerMenuThree:hover{
    cursor: pointer;
    transform:scale(1.2);
    background-color: skyblue;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.drawerMenuFour:hover{
    cursor: pointer;
    transform:scale(1.2);
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}